@model Condominio
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>

<mensagem texto="@TempData["mensagem"]"></mensagem>

<form asp-action="Cadastrar">
    <partial name="_formulario"/>
    <botao texto="Cadastrar"/>
</form>