@model Serie

@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Editar</h1>


<form asp-action="editar" asp-controller="Serie">
    <input asp-for="SerieId" />
        <partial name="_formulario" />
    <botao texto="Editar"/>
       <a asp-action="Listar"  class="btn btn-light">Cancelar</a>
 </form>