@model Jogo
@{
    ViewData["Title"] = "Cadastrar";
}

<h1>Cadastrar</h1>
<mensagem texto="@TempData["msg"]"></mensagem>

<form asp-action="Cadastrar" asp-controller="Jogo">
   
    <partial name="_formulario" />

    <input type="hidden" asp-for="Disponivel" value="false" />
    <botao texto="Cadastrar"></botao>
</form>

